<nav class="blue-grey">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="/" >
                <i class=" small material-icons">home</i>
            </a>
        </li>
        <% if (user) { %>
            <li>
                <a href ="/profile/user">
                    <i class="small material-icons">person</i>
                </a>
            </li>
            <% if (user.admin) { %>
                <li>  
                    <a href="/profile/admin">
                        <i class="small material-icons">person</i>
                    </a>
                </li>
            <% } %>
            <li>
                <a href="/auth/logout">
                    <i class="small material-icons">lock_outline</i>
                </a>
            </li>
            <li>
                Hi <%= user.firstname %> 
            </li>
        <% } else { %> 
            <li>
                <a href='/auth/login'>
                    <i class="small material-icons">lock_open</i>
                </a>
            </li>
            <li>
                <a href='/auth/signup'>
                    <i class="large material-icons">person_add</i>
                </a>
            </li>
        <% } %> 
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/">Home</a>
    </li>
    <% if (user) { %>
        <li>
            <a href ="/profile/user">Profile Page</a>
        </li>
        <% if (user.admin) { %>
            <li>  
                <a href="profile/admin">Admin Page</a>
            </li>
        <% } %>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    <% } else { %> 
        <li>
            <a href='/auth/login'>Login</a>
        </li>
        <li>
            <a href='/auth/signup'>Signup</a>
        </li>
    <% } %> 
  </ul>