html,
body {
    margin: 0;
    padding: 0;
    background-color: #b0bec5;
    text-align: center;
    background-image: ;
}

h1 {
    color: skyblue;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i {
    color: #263238;
}

li {
    list-style: none;
}

#profPageIcon {
    display: inline;
}